<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='キーワードから探す'>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    </form>
  </div>

  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to 'カテゴリー', "#", class: "category-list" %></li>
      <li><%= link_to 'ブランド', "#", class: "brand-list" %></li>
    </ul>

    <ul class='lists-right'>
      <%# ======================== %>
      <%#  ログイン状態で分岐する部分 ※重要 %>
      <%# ======================== %>

      <% if user_signed_in? %>
        <%# ログイン状態 → ニックネーム & ログアウト %>

        <li>
          <%= link_to "#{current_user.nickname}さん", "#", class: "user-nickname" %>
        </li>

        <li>
          <%= button_to "ログアウト",
                        destroy_user_session_path,
                        method: :delete,
                        class: "logout",
                        form: { "data-turbo" => "false" } %>
        </li>

      <% else %>
        <%# 未ログイン状態 → ログイン & 新規登録 %>

        <li>
          <%= link_to "ログイン", new_user_session_path, class: "login" %>
        </li>

        <li>
          <%= link_to "新規登録", new_user_registration_path, class: "sign-up" %>
        </li>

      <% end %>
      <%# ======================== %>
    </ul>
  </div>
</header>
