<!DOCTYPE html>
<html>
  <head>
    <title>Furima45702</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tag.meta name: "payjp-public-key",
                 content: Rails.application.credentials.dig(:payjp, :public_key) %>

    <script src="https://js.pay.jp/v2/pay.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# flash.each do |key, value| %>
    <%# end %>

    <%= yield %>
  </body>
</html>
